body {font-family: Arial, Helvetica, sans-serif; background-color: bisque;}

#main-title {color: #174217; text-align: center;}

.todo-list {
    display: flex;
    justify-content: center;
    border: 2px dashed orange;
    border-radius: 15px;
    background-color: white;
    max-width: 400px;
    margin: auto auto;
}

ul {padding: 0; width: 100%;}

ul > li {
    border-radius: 7px;
    display: flex;
    align-items: center;
    padding: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
}

.morning {background-color: #f9cc95;}
.important.morning {background-color: orange;}
.afternoon {background-color: #f7ca94;}
[class~="evening"] {background-color: #b0f7f7;}

li:nth-child(odd) {background-color: #fce1c0;}
li:first-child {border-top: 2px solid #df9d21;}
li:last-child {border-bottom: 2px solid #e4a125;}
li:hover{background-color: whitesmoke;}
li:hover::after{
    content: '✅';
    right: 10px;
    position: absolute;
}

.note[data-type="reminder"] {
    text-align: center;
    font-style: italic;
    color: green;
}

input[type="checkbox"] {accent-color: #4cf84c; width: 15px; height: 15px;}





