* {margin: 0; padding: 0;}
body {
    background-image: url('https://www.pixelstalk.net/wp-content/uploads/images6/Aesthetic-Anime-Wallpaper-4K-HD.jpg'); 
    color: #fff;
    background-attachment: fixed;
    background-size: cover;
    font-size: 16px;
    animation: change 20s infinite; 
}
@keyframes change {
    0% {background-image: url("https://www.pixelstalk.net/wp-content/uploads/images6/Aesthetic-Anime-Wallpaper-4K-HD.jpg");}
    33% {background-image: url("https://wallpaperaccess.com/full/2830779.jpg");}
    66% {background-image: url("https://applescoop.org/image/wallpapers/mac/night-mode-anime-style-cottage-on-a-hill-at-dark-night-best-most-popular-free-download-wallpapers-for-macbook-pro-and-macbook-air-and-microsoft-windows-desktop-pcs-4k-07-12-2024-1733638190-hd-wallpaper.webp");}
    100% {background-image: url("https://www.pixelstalk.net/wp-content/uploads/images6/Aesthetic-Anime-Wallpaper-4K-HD.jpg");}
}


.start {
    background-color: #2a2a2a;
    padding: 1px 20px;
    display: flex;
    align-items: center;
}
.start .search {
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 330px;
    margin-left: 10px;
    margin-top: 15px;
}


.guide {
    background-color:#2a2a2a; 
    border: none;
    padding: 20px 12px;
}
.guide:hover {background-color: gray;} 


.notification {
    position: absolute;
    top: 60px;
    margin-left: 23%;
    background-color: #333;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000;
}
.notification.show {opacity: 1;}


.down {float: left; overflow: hidden;}
.down .downButton {
    font-size: 17px;
    border: none;
    color: aliceblue;
    padding: 18px 14px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.downButton {cursor: pointer;}
.down-content {
    display: none;
    position: absolute;
    background-color: #2a2a2a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.down-content li {
    float: none;
    color: aliceblue;
    padding: 12px 16px;
    display: block;
    text-align: left;
}
.down-content li:hover {background-color: gray;}
.down:hover .down-content {display: block;}
.down:hover .downButton {background-color: gray; color: aliceblue;}



.login a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}
.login a:hover {color: #555; text-decoration: none;}



.frame {max-width: 1400px; margin: 16px auto}

.post {
    background-color: #2a2a2a;
    border-radius: 7px;
    margin-bottom: 20px;
}
.post-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 12px;
    color: whitesmoke;
    background-color: #4c4c4c;
}
.post-header {
    display: flex;
    align-items: center;
    padding: 7px 24px;
}


.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.username {font-weight: bold; color: whitesmoke;}
.time {
    color: #888;
    font-size: 14px;
    margin-left: auto;
}


.post-content {
    margin-bottom: 15px;
    color: whitesmoke;
    padding: 24px 24px;

}
        


.cmt-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.cmt-section {
    background-color: #434343;
    border-radius: 7px;
    padding: 20px;
    width: 70%;
    ;
}
.cmt-box {
    border-radius: 5px;
    padding: 10px;
    background-color: #4c4c4c;
    display: flex;
    align-items: center;
    gap: 10px;
}
.cmt-box button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #666666;
}
.cmt-input {
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    color: whitesmoke;
}
.scroll {
    max-height: 750px;
    overflow: auto;
    display: block;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    animation: appear 1.2s ease-in;
}
.scroll::-webkit-scrollbar {width: 8px;}
.scroll::-webkit-scrollbar-track {background: #2a2a2a;}
.scroll::-webkit-scrollbar-thumb {background: #555; border-radius: 4px;}
.submit-bt {
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
.submit-bt:hover {background-color: whitesmoke;color: #2a2a2a;}


.delete-bt {
    border: none;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    color: #868686;
    background-color: #2a2a2a;
    margin-left: 10px;
}
.delete-bt:hover {background-color: whitesmoke; color: #2a2a2a;}


.button1, .button2 {
    border-radius: 20px;
    padding: 12px;
    cursor: pointer;
    border: none;}
.button1{background-color: #2a2a2a;}
.button2{background-color: #d7d7d7;}


.style {text-decoration: none; color: aqua;}
.end {
    display: flex;
    justify-content: space-between;
    background-color: #434343;
    padding: 33px;
}